$main-background-color: #eee;

$topbar-background-color: rgb(243, 156, 18);
$topbar-background-color-secondary: rgb(224, 142, 11);
$topbar-color: #fff;

$sidebar-background-color: #30363E;
$sidebar-background-color-secondary: #464650;
$sidebar-color: #ddd;
$sidebar-color-secondary: #999;

$turquoise: #1ABC9C;
$turquoise-secondary: #8E44AD;

$green: #2ECC71;
$green-secondary: #27AE60;

$blue: #3498DB;
$blue-secondary: #2980B9;

$violet: #9B59B6;
$violet-secondary: #8E44AD;

$midnight-blue: #34495E;
$midnight-blue-secondary: #2C3E50;

$yellow: #F1C40F;
$yellow-secondary: #F39C12;

$orange: #E67E22;
$orange-secondary: #D35400;

$red: #E74C3C;
$red-secondary: #C0392B;

$silver: #ECF0F1;
$silver-secondary: #BDC3C7;

$concrete: #95A5A6;
$concrete-secondary: #7F8C8D;

@mixin darken-on-hover($alpha: .05) {
    & {
        position: relative;
    }
    
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, $alpha);
        opacity: 0;
        // @include transition(.1s opacity)
    }
    
    &:hover:after {
        opacity: 1;
    }
}

@mixin lighten-on-hover($alpha: .05) {
    & {
        position: relative;
    }
    
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, $alpha);
        opacity: 0;
        // @include transition(.1s opacity)
    }
    
    &:hover:after {
        opacity: 1;
    }
}
