form.search {
    padding: 17px 0;
    
    .search-input {
        margin: 0;
        border-right: none;
    }
    
    .search-button {
        color: #666;
        width: 100%;
        margin: 0;
        padding: 0;
        border-color: #ccc;
    }
}
